<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Form Submitted</title>
</head>
<body>
    <header>
        <h1>Form Submitted!</h1>
        <nav>
            <a href="/">Back to Home</a>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h2>Helo, {{ name }}! Nice to meet you!</h2>
            <p>Thank you for submitting your name. We're happy to have you here!</p>
        </section>
    </main>

    <footer>
        <p>@rielfrz.</p>
    </footer>
</body>
</html>