<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Kira The Slayer</title>
</head>
<body>
    <header>
        <h1>Selamat Datang Rawrrr!!</h1>
        <nav>
            <a> About You Gaes </a>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h2>Masukkan Namamu</h2>
            <form action="/submit" method="POST">
                <input type="text" name="name" placeholder="Enter Your Name" required>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer>
        <p>© gg gaming ga adick adick</p>
    </footer>
</body>
</html>
